# Instructions for Cline to work on this project

- This is a Flutter project powered by a Supabase backend
- A "storybook" build of the app is being used to showcase and iterate on new designs for screens before they are implemented into the app
    - `lib/storybook/screens` contains new screens
    - `lib/storybook/components` contains shared elements for new screens
    - `lib/storybook/original_screens` archives original screen designs as new designs are implemented
    - `lib/storybook/main.dart` contains the navigation menu for the storybook interface—all screens need to be registered here
